<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">Delete Project </div>
                <div class="panel-body">
                    <h3>Deseja realmente excluir esse Projeto?</h3>
                    <ul>
                        <li><strong>Name: </strong>{{project.name}}</li>
                        <li><strong>Description: </strong>{{project.description}}</li>
                    </ul>
                        <div class="form-group">
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-success pull-right" ng-click="remove()">Delete</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
